<div class="container">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="searchQuery" placeholder="Search for Songs, Artist or Album" ng-model="landing.searchQuery" required>
    </div>

    <div class="row text-center">
      <label class="radio-inline custom-radio-btn">
        <input type="radio" name="searchType" ng-model="landing.searchType" id="inlineRadio1" value="track">Song
      </label>
      <label class="radio-inline custom-radio-btn">
        <input type="radio" name="searchType" ng-model="landing.searchType" id="inlineRadio2" value="artist">Artist
      </label>
      <label class="radio-inline custom-radio-btn">
        <input type="radio" name="searchType" ng-model="landing.searchType" id="inlineRadio3" value="album">Album
      </label>
    </div>

    <div class="row text-center">
      <button type="submit" class="btn btn-default" ng-click="landing.search()" id="searchButton">Search</button>
    </div>

  </form>

  <div class="container text-center" id="spotifyLogo">
    <br>
    <div>Powered By</div>
    <img src="images/spotify.png" alt="Spotify" class="img-responsive center-block">
  </div>

  <div class="col-xs-12 col-md-12" ng-cloak   >
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>
            <a href="" ng-click="orderByField='Name'; reverseSort = !reverseSort">Name</button>
              <span ng-show="orderByField == 'Name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>

          <th>
            <a href=""ng-click="orderByField='Popularity'; reverseSort = !reverseSort">Popularity</button>
              <span ng-show="orderByField == 'Popularity'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="i in landing.items | orderBy:orderByField:reverseSort | itemsPerPage:10" >
          <td >
            <h5>
              <strong>{{i.name}}</strong>
            </h5>
            <p class="text-muted">by {{i.artists["0"].name}}</p>
          </td>
          <td>
            <h5>
              <strong>{{i.popularity}}</strong>
            </h5>
          </td>

        </tr>
      </tbody>
      <dir-pagination-controls
      max-size=""
      direction-links="true"
      boundary-links="true" >
    </dir-pagination-controls>
    </table>

</div>

<hr>

</div>
