.form-control {
  height: 80px;
  font-size: 36px;
  border-radius: 0px; }

#searchButton {
  border-radius: 0px;
  margin-top: 30px;
  height: 45px;
  width: 160px;
  font-size: 25px;
  color: #00E65F;
  font-weight: 400; }

#searchQuery {
  margin-top: 4em; }

.custom-radio-btn {
  border: 2px solid #00E65F;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  text-align: left;
  padding-left: 30px;
  padding-top: 6px; }
